<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="StreamMarket_RoyalMailShipping::royalmail_config" title="Royal Mail Configuration" translate="title" sortOrder="10" >
                        <resource id="StreamMarket_RoyalMailShipping::settings" title="Settings" translate="title" sortOrder="10" />
                        <resource id="StreamMarket_RoyalMailShipping::rates" title="Rates" translate="title" sortOrder="10" />
                    </resource>
                </resource>
                <resource id="Magento_Sales::sales">
                    <resource id="StreamMarket_RoyalMailShipping::royalmail" title="Settings" translate="title" sortOrder="100" >
                        <resource id="StreamMarket_RoyalMailShipping::shipments" title="Shipments" translate="title" sortOrder="1" />
                        <resource id="StreamMarket_RoyalMailShipping::manifests" title="Manifests" translate="title" sortOrder="2" />
                        <resource id="StreamMarket_RoyalMailShipping::transactions" title="Manifests" translate="title" sortOrder="3" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>