<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_before">
        <observer name="smroyalmail_ship_save_before" instance="StreamMarket\RoyalMailShipping\Observer\Shipment\SaveBefore" />
    </event>
    <event name="sales_order_shipment_track_save_after">
        <observer name="smroyalmail_ship_track_add_after" instance="StreamMarket\RoyalMailShipping\Observer\Shipment\TrackAddAfter" />
    </event>
    <event name="sales_order_shipment_track_delete_commit_after">
        <observer name="smroyalmail_ship_track_delete_after" instance="StreamMarket\RoyalMailShipping\Observer\Shipment\TrackDeleteCommitAfter" />
    </event>
    <event name="order_cancel_after">
        <observer name="smroyalmail_cancel_shipment" instance="StreamMarket\RoyalMailShipping\Observer\Order\CancelAfter" />
    </event>
    <event name="adminhtml_block_html_before">
        <observer name="add_print_label_btn_on_shipment" instance="StreamMarket\RoyalMailShipping\Observer\Order\Shipment\View\AddPrintLabelButton" />
    </event>
    <event name="controller_action_predispatch_adminhtml_system_config_save">
        <observer name="configuration_save_before" instance="StreamMarket\RoyalMailShipping\Observer\System\Config\SaveBefore" />
    </event>
</config>