<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="smroyalmail" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>RoyalMail Shipping</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="product_key" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="0">
                    <label>License Key</label>
                    <comment>If you don't have the key, please contact at support@StreamMarket.co.uk</comment>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
				<field id="client_id" translate="label" type="text" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Client ID</label>
					<comment>https://royalmail.proshipping.net/Maintenance/CustomerSettings/APICredentials</comment>
                </field>
                <field id="client_secret" translate="label" type="password" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Client Secret</label>
					<comment>https://royalmail.proshipping.net/Maintenance/CustomerSettings/APICredentials</comment>
                </field>
				<field id="shipping_account_id" translate="label" type="text" sortOrder="42" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipping Account ID</label>
					<comment>https://royalmail.proshipping.net/Maintenance/ShippingAccounts</comment>
                </field>
                <field id="shipping_location_id" translate="label" type="text" sortOrder="43" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipping Location ID</label>
					<comment>https://royalmail.proshipping.net/Maintenance/ShippingLocations</comment>
                </field>
                <field id="gateway_url" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Gateway URL</label>
                </field>
                <field id="tracking_url" translate="label" type="text" sortOrder="92" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Tracking URL</label>
                </field>
				<field id="allowed_methods" translate="label" type="multiselect" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="0">
                    <label>Allowed Methods</label>
                    <source_model>StreamMarket\RoyalMailShipping\Model\Carrier\Source\Methods</source_model>
                    <can_be_empty>1</can_be_empty>
					<tooltip>Selected allowed methods display in service offering dropdown</tooltip>
                </field>
                
                <field id="unit_of_measure" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Weight Unit</label>
                    <source_model>StreamMarket\RoyalMailShipping\Model\Carrier\Source\UnitOfMeasure</source_model>
                </field>
				
				<field id="dimention_unit_of_measure" translate="label" type="select" sortOrder="175" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Dimensions Unit Of Measure</label>
                    <source_model>StreamMarket\RoyalMailShipping\Model\Carrier\Source\DimentionUnitOfMeasure</source_model>
                </field>
                
                <field id="condition_name" translate="label" type="select" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Condition</label>
                    <source_model>StreamMarket\RoyalMailShipping\Model\Carrier\Source\Conditions</source_model>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="315" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Displayed Error Message</label>
                </field>
                <!--<field id="sort_order" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>-->
                
                <field id="manifest_automatically" translate="label" type="select" sortOrder="340" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Run EOD Process(Manifest) Automatically</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Once the Create Manifest operation has been called, it will no longer be possible to update shipment label or cancel them.</comment>
                </field>
				<field id="manifest_predefind_period" translate="label" type="text" sortOrder="440" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Predefind time for manifest run</label>
					<depends>
                        <field id="manifest_automatically">1</field>
                    </depends>
					<comment>Use 24 hrs format with 0 24 * * * format</comment>
                </field>
				 <field id="ghscript" translate="label" type="text" sortOrder="510" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Ghostscript Command</label>
                </field>
				<!--<field id="labels_enable" translate="label" type="select" sortOrder="500" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Remove Lables</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This will remove shipping labels after predefined days.</comment>
                </field>
				<field id="labels_remove" translate="label" type="text" sortOrder="600" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Predefind days</label>
					<depends>
                        <field id="labels_enable">1</field>
                    </depends>
				</field>
                <field id="ghscript" translate="label" type="text" sortOrder="510" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Ghostscript Command</label>
                </field>
				
				<field id="rm_token" translate="label" type="text" sortOrder="610" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>RM Token Generate Time</label>
					<comment>Predefined time for generate Royal Mail token in hrs</comment>
                </field>
				<field id="rm_token_cron" translate="label" type="text" sortOrder="615" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Token Generate Cron Run Time</label>
					<comment>Predefined time for run cron for Royal Mail token generate</comment>
                </field>-->
				
				<field id="rm_debug" translate="label" type="select" sortOrder="618" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Logs files generates under var/log for Royal Mail API's</comment>
                </field>
				
				<group id="smroyalmail_item" translate="label" type="text" sortOrder="620" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>RoyalMail API Data</label>
					<field id="EORI" translate="label" type="text" sortOrder="710" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>EORI Number</label>
						<comment>A pre-registration number is only relevant if the INCOTERMS (International Commercial Terms) for the shipment are DDP (Delivery duty paid). If not provided, and the INCOTERMS are set to DDP, any pre-registration numbers set up via your Customs Settings will be used</comment>
					</field>
					<field id="descriptionofgoods" translate="label" type="text" sortOrder="720" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Description Of Goods</label>
						<comment>Used for international shipment.</comment>
					</field>
					<field id="reasonforexport" translate="label" type="text" sortOrder="730" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Reason For Export</label>
						<comment>Used for international shipment.</comment>
					</field>
					<field id="package_width" translate="label" type="text" sortOrder="740" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Package Width</label>
					</field>
					<field id="package_height" translate="label" type="text" sortOrder="750" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Package Height</label>
					</field>
					<field id="package_length" translate="label" type="text" sortOrder="760" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Package Length</label>
					</field>
					<field id="package_type" translate="label" type="select" sortOrder="770" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Package Type</label>
                    <source_model>StreamMarket\RoyalMailShipping\Model\Config\Source\PackageType</source_model>
                    </field>
					<!--<field id="parcel_type" translate="label" type="select" sortOrder="775" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Parcel Type</label>
                    <source_model>StreamMarket\RoyalMailShipping\Model\Config\Source\ParcelType</source_model>
                    </field>-->
					<field id="hscode" translate="label" type="select" sortOrder="780" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>HSCode</label>
                    <source_model>StreamMarket\RoyalMailShipping\Model\Config\Source\ProductAttribute</source_model>
                    </field>
					<field id="country_of_manufacture" translate="label" type="select" sortOrder="790" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Country of manufacture</label>
                    <source_model>StreamMarket\RoyalMailShipping\Model\Config\Source\ProductAttribute</source_model>
                    </field>
					
				<!--<field id="service_offering" translate="label" type="select" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Service Offering</label>
                    <source_model>StreamMarket\RoyalMailShipping\Model\Config\Source\ServiceOffering</source_model>
                    </field>-->
					<field id="exportlicence" translate="label" type="select" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Export Licence</label>
						<source_model>StreamMarket\RoyalMailShipping\Model\Config\Source\ExportLicance</source_model>
						<comment>Customers exporting items requiring an export licence must flag the item as requiring an export licence here. This requirement is restricted to exporters of specific type of goods used predominantly for military purposes, as such will probably not apply to you. You can find out more about the type of items requiring an export licence on the UK Government website.</comment>
					</field>
					<field id="addresseeidentificationreferencenumber" translate="label" type="text" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Addressee Identification Reference Number</label>
						<comment>Addressee Identification Reference Number previously recipients purchasing ID.Recipient Purchasing IDs for International Shipments. A small number of countries require their citizens to obtain a registration number before importing goods from overseas. When exporting items to countries with such a scheme in place there is a requirement to provide the recipients registration details to customs authorities</comment>
					</field>
					<field id="incoterms" translate="label" type="select" sortOrder="810" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Incoterms</label>
						<source_model>StreamMarket\RoyalMailShipping\Model\Config\Source\Incoterms</source_model>
						<comment>For international shipments, this becomes required and is used to detail the terms of trade.</comment>
                    </field>
				</group>
				
				<group id="smroyalmail_shipper_details" translate="label" type="text" sortOrder="820" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>RoyalMail Shipper Address</label>
					<field id="shipper_company" translate="label" type="text" sortOrder="830" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Company Name:</label>
					</field>
					<field id="shipper_name" translate="label" type="text" sortOrder="840" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Contact Name:</label>
					</field>
					<field id="shipper_addr1" translate="label" type="text" sortOrder="850" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Address line 1:</label>
					</field>
					<field id="shipper_addr2" translate="label" type="text" sortOrder="860" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Address line 2:</label>
					</field>
					<field id="shipper_addr3" translate="label" type="text" sortOrder="870" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Address line 3:</label>
					</field>
					<field id="shipper_city" translate="label" type="text" sortOrder="880" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>City:</label>
					</field>
					<field id="shipper_region" translate="label" type="text" sortOrder="890" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Region:</label>
					</field>
					<field id="shipper_phone" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Phone:</label>
					</field>
					<field id="shipper_postcode" translate="label" type="text" sortOrder="910" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Postcode:</label>
					</field>
					<field id="shipper_email" translate="label" type="text" sortOrder="920" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Email:</label>
					</field>
					<field id="shipper_reference" translate="label" type="text" sortOrder="930" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Shipper Reference:</label>
						<comment>This field is used for Returns processing and is usually the shippers order number provided to the consumer.</comment>
					</field>
					<field id="shipper_department" translate="label" type="text" sortOrder="950" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Shipper Department:</label>
						<comment>For Royal Mail shipments, this code must be a valid 10-digit OBA department code.</comment>
					</field>
					<field id="shipper_vatnumber" translate="label" type="text" sortOrder="960" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Vat Number:</label>
					</field>
					<field id="shipper_country" translate="label" type="select" sortOrder="970" showInDefault="1" showInWebsite="1" showInStore="0">
						<label>Shipper Country:</label>
						<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
						<can_be_empty>1</can_be_empty>
					</field>
				</group>
            </group>
        </section>
    </system>
</config>
